:root {
  /*=======COLORS===========*/
  --bg: #282c34;
  --fg: #252931;
  --e: #1d2025;
  --tx: #abb2bf;
  --txb: #ffffff;
  --p: #bb86fc;
  --pv: #3700b3;
  --s: #03dac5;
  --sv: #018786;
  --t: #e06c75;
  --tv: #be5046;
}
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}